/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORES */
:root {
    --verde: #0b3d17;
    --laranja: #ff6f00;
    --preto: #222;
    --branco: #fff;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    color: var(--preto);
    overflow-x: hidden;

}

/* HEADER */
header {
    background: var(--verde);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 4px 15px rgba(0,0,0,0.25);

}

/* LOGO */
.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-area img {
     width: 220px;
    filter: drop-shadow(0 3px 6px rgba(0,0,0,0.4));
}

.logo-area h2 {
    color: white;
    font-size: 23px;
    font-weight: 600;
}

/* MENU */
nav {
    display: flex;
    gap: 35px;
    align-items: center;
}

/* LINKS */
nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    position: relative;
    transition: 0.3s;
}

/* HOVER */
nav a:hover {
    color: var(--laranja);
}

/* LINHA ANIMADA (EFEITO PROFISSIONAL) */
nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: var(--laranja);
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

/* HERO */
.hero {
    position: relative;
    height: calc(100vh - 80px);

    background-image: url("../banner_ep.jpg"); /* AJUSTA AQUI */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-attachment: fixed;
}

/* SOBREPOSIÇÃO */
.hero::after {
     content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to top,
       rgba(0, 0, 0, 0.85),  /* bem escuro embaixo */
       rgba(0, 0, 0, 0.4),   /* meio termo */
       rgba(0, 0, 0, 0.1)
    );

    z-index: 1;
}

/* TEXTO HERO */
.hero-content {
    position: absolute;
    bottom: 60px;
    left: 60px;
    color: white;
    max-width: 500px;

    z-index: 2;
}

.hero-content h2 {
    font-size: 50px;
    text-shadow: 0 4px 12px rgba(0,0,0,0.7);
}

.hero-content p {
    font-size: 20px;
    text-shadow: 0 3px 10px rgba(0,0,0,0.7);
}

/* BOTÕES */
.hero-buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.btn, .insta-btn {
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
}

.btn {
    background: white;
    color: var(--verde);
}

.insta-btn {
    background: var(--laranja);
    color: white;
}

/* SEÇÕES */
/* ===================== */
section:not(.hero) {
    padding: 80px 40px;
}

section h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

/* SOBRE */
.sobre {
    background-color: #f5f5f5;
}

.sobre-container {
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 40px;
    max-width: 1200px;
    margin:0 auto;
}

.sobre-img {
    flex: 1.6;
    max-width: 620px;
}

.sobre-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;

   box-shadow: 0 15px 35px rgba(0,0,0,0.25);
    transition: 0.4s; 
}

.sobre-img img:hover {
    transform: scale(1.05);
}

.sobre-texto {
    flex: 1;
    max-width: 650px;
    text-align: left;
}

.sobre-texto h2 {
    font-size: 34px;
    margin:10px 0;
    text-align: left;
}

.sobre-texto p {
    font-size: 17px;
    line-height: 1.6;
    text-align: justify;
    color: #333333;
    margin-bottom: 15px;
}

.linha{
    margin:10px auto 25px;
}

/* CAIXINHAS DO SOBRE */
.mini-info {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* CAIXAS */
.card-verde,
.card-laranja {
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;

    transition: 0.3s;
    cursor: default;
}

/* CORES */
.card-verde {
    background-color: #eafaf1;
    color: #27ae60;
}

.card-laranja {
    background-color: #fff3e6;
    color: #e67e22;
}

/* HOVER (EFEITO BONITO) */
.card-verde:hover,
.card-laranja:hover {
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}

/*CURSOS */
.cards {
    display: flex;
    flex-wrap: wrap; /* permite quebrar linha */
    justify-content: center; /* centraliza */
    gap: 30px; /* espaço entre eles */

}

.card-cursos {
    width: 270px;
    background: #f9faf9;
    border-radius: 12px;
    padding: 15px 18px;
    text-align: center;

    border: 2px solid var(--verde);
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card-cursos img {
    width: 75px;
    height: 75px;
    padding: 10px;
    border-radius: 50%;
    background: #e8f5e9;
}

.card-cursos h3 {
    margin: 15px 0 10px;
    font-size: 21px;
    color: var(--verde);
}

.card-cursos p {
    font-size: 14px;
    text-align: justify;
}

/* hover */
.card-cursos:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(255, 140, 0, 0.2);
}

.cards {
    display: flex;
    gap: 60px; /* 🔥 mais espaço entre eles */
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.card {
 width: 270px;
    background: #f9faf9;
    border-radius: 12px;
    padding: 15px 18px; /* 🔥 menos altura */
    text-align: center;

    border: 2px solid var(--verde);
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);

    transition: transform 0.2s ease, box-shadow 0.2s ease;  
}


.card img{
   width: 75px;
    height: 75px;
    padding: 10px;
    border-radius: 50%;
    background: #e8f5e9;
}

.card:hover img {
    border-color: var(--laranja);
}

.card:hover {
 transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(255, 140, 0, 0.2); /* 🔥 sombra laranja */
  background: #fff7f0; /* 🔥 fundo laranja leve */
  border-color: var(--laranja); /* 🔥 borda laranja */
}

.card h3 {
    margin: 15px 0 10px;
    font-size: 21px;
    color: var(--verde);
}

.card p {
    font-size: 14px;
    text-align: justify;
    line-height: 1.4; 
    margin: 8px 0;
    
}
 
section {
    padding: 70px 20px;
}

section{
    padding: 70px 20px;
    background: #f5f7f6;
}

/* ===== EVENTOS ===== */
.eventos {
    text-align: center;
    padding: 60px 20px;
}

.grid-eventos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card-evento {
  width: 320px;
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  text-align: center;

  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

/* imagem */
.card-evento img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center 60%;
  border-radius: 12px;
  margin-bottom: 15px; 
}

/* título */
.card-evento h3 {
  font-size: 19px;
  margin-bottom: 8px;
  color: #333;
}

/* texto */
.card-evento p {
  font-size: 15px;
  color: #666;
  text-align: justify;
  line-height: 1.6;
}

/* hover */
.card-evento:hover {
  transform: translateY(-6px);
  background: #fff7f0;
  box-shadow: 0 10px 25px rgba(255, 140, 0, 0.2);   
}

.card-evento:hover img {
  transform: scale(1.0);
  transition: 0.3s;
}

/* SEÇÃO */
#conquistas {
   width: 100%;
  background-color: #f5f5f5; /* cinza */
  padding: 60px 0;
}

/* TÍTULO */
.titulo-conquistas {
  text-align: center;
  font-size: 28px;
  margin-bottom: 50px;
}

/* CONTAINER DOS CARDS */
.conquistas-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* CARD */
.conquista-card {
  width: 300px;
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
  border:2px;
}

.conquista-card:hover {
  transform: translateY(-6px);
  background: #fff7f0;
  box-shadow: 0 10px 25px rgba(255, 140, 0, 0.2);
}

/* IMAGEM (AGORA CENTRALIZA CERTO) */
.conquista-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: center 60%;
  border-radius: 12px;
  display: block;
  margin: 0 auto 15px auto;
}

/* TÍTULO */
.conquista-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* TEXTO */
.conquista-card p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  text-align: justify;
}

/* ===== RESPONSIVO ===== */
@media (max-width: 768px) {
    .eventos .grid-eventos {
        gap: 15px;
    }

    .eventos .card {
        width: 90%;
        height: 320px;
    }
}

footer {
  background: #0b4d1c;
  padding: 15px;
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  color: white;
  font-size: 14px;
  flex-wrap: wrap;
}

/* Instagram */
.insta-link {
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.insta-link i {
  font-size: 16px;
}

footer {
  background: #0b4d1c;
  padding: 15px;
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  flex-wrap: wrap;
}

/* botão instagram */
.insta-link {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #ffffff;
  color: #0b4d1c;
  padding: 6px 12px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
}

/* hover */
.insta-link:hover {
  background: #ff7a00;
  color: white;
  transform: scale(1.05);
}

.insta-link i {
  font-size: 16px;
}

/* MOBILE */
@media (max-width: 768px) {
  .footer-info {
    flex-direction: column;
  }
}              

html {
  scroll-behavior: smooth;
}
